---
layout: default
---

<!-- Main Content -->
<section>
  <div class="container">
    <div class="row about-category">
      <div class="twelve columns">
        <div class="about">
          <h3>About Me</h3>
          
          <div class="profile">
            <img src="{{ site.baseurl }}/assets/images/about.jpg" class="u-full-width" />
          </div>
          
          <div class="about-title">
            {{ site.your_name }}
          </div>
          <div class="about-body">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
